

#star-field {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
}
  
  .star {
    width: 2px;
    height: 2px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
  }
    
    .far {
      width:  1px;
      height: 1px;
    }
    
    .near {
      width: 4px;
      height: 4px;
    }
    
    .white {
      background: #fff;
      box-shadow: 0 0 15px #fff;
    }
    
    .yellow {
      background: #BFBB40;
      box-shadow: 0 0 15px #BFBB40;
    }
    
    .blue {
      background: #4444ff;
      box-shadow: 0 0 15px #4444ff;
    }
    
    .red {
      background: #ff4444;
      box-shadow: 0 0 15px #ff4444;
    }
  
    audio{
        display: none;
    }